<!doctype html>

   <html lang="en">
   <head>
      <meta charset="utf-8">

      <title>The HTML5 Herald</title>
      <meta name="description" content="The HTML5 Herald">
      <meta name="author" content="SitePoint">

      <link rel="stylesheet" href="/styles.css">

      <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">

      <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>


      <link rel="icon" href="data:;base64,=">
   </head>
   <body>
    <div class="style1">
      <h1>Elgin Park Grade 8 - 12 Badminton</h1>
      <form action="https://goo.gl/forms/6k98G3ekk2qxCHxj2">
         <button type="submit">Click here to join</button>
      </form>

      <img src="public/badminton.jpg" width="300" height="300" id="il_fi">

      <h3> FAQ </h3>
      <div>
         1. Are there cuts? 
         <br>
         Grade 8: No, everyone one who comes out makes the team. Stronger players will play in more league matches. Some players may not play any league matches. 
         <br>
         Junior &amp; Senior: Yes, but we will have open gym for other kids, so there will be opportunies to play.
         <br>
      </div>

      <div>
         2. How often if it?
         <br>
         About two/three times a week. More details will be available shortly
      </div>

      <div>
         3. When does the season start and end
         <br>
         <span class='dates'> Starts: February </span>
         <span class='dates'> Ends: May </span>
      </div>

      <div>
         4. Is there a cost?
         <br>
         There is a $30 athletic fee and maybe a T-Shirt fee/clothing.
      </div>

      <div>
         5. Do I need my own racket?
         <br>
         Yes, you should have your own racket.
      </div>

      <div>
         6. How do I join?
         <br>
         Come see Mr. Worsley in 132 or click the link below
         <br>
         <form action="https://goo.gl/forms/6k98G3ekk2qxCHxj2">
         <button type="submit">Click here to join</button>
      </form>
      </div>     
    </div>


   </body>
</html>