<!doctype html>

<html lang="en">
<head>
  	<meta charset="utf-8">

  	<title>The HTML5 Herald</title>
  	<meta name="description" content="The HTML5 Herald">
  	<meta name="author" content="SitePoint">

  	<link rel="stylesheet" href="/styles.css">

	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">

	<script
  	src="https://code.jquery.com/jquery-3.3.1.js"
  	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  	crossorigin="anonymous"></script>


	<link rel="icon" href="data:;base64,=">
</head>

<body>
	<div id='index' class='index'>
		<h1> Elgin Computers</h1>

		<div class='phed' id='phed'>
			<div>
				<form method="GET" action="journal.docx" target="_blank">
					<button type="submit">PHED 9 Nutrition &amp; Activity Journal</button>
				</a>
			</div>
			<div>
				<form method="GET" action="https://www.merckmanuals.com/home/bone%2C-joint%2C-and-muscle-disorders/biology-of-the-musculoskeletal-system/muscles#v35587401" target="_blank">
					<button type="submit">Muscles &amp; Bones</button>
				</a>
			</div>
		</div>

		<div id='sports'>
			<div>
				<form method="GET" action="https://docs.google.com/forms/d/e/1FAIpQLSeV3spCPcX-qRe8Z6ceN4A9-DyCipqs2heAP8s054kBFnKm8g/viewform?usp=sf_link" target="_blank">
					<button type="submit">JOIN ELGIN ULTIMATE FRISBEE</button>
				</a>
			</div>
			<div>
				<form method="GET" action='/badminton'>
					<button type="submit">JOIN ELGIN BADMINTON</button>
				</form>
			</div>
		</div>

	</div>
</body>
</html>